<!DOCTYPE html>
<html lang="en">
 
<head>
  <title>Python Flask Bucket List App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <style type="text/css">
     body { background: lavender !important; }
     div.header { background: lightsteelblue !important;}
     div.jumbotron { background: lightsteelblue !important;}     
     nav {background:#AFCFEE !important;}
     
  </style> 
</head>
 
<body>
 
    <div class="container">
        <div class="header" role="navigation">
            <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Release Notes Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/lookUp">Lookup</a></li>
            <li><a href="/regenerate">Generate</a></li>
            <li><a href="/getPdf">Get PDF</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
 
        <div class="jumbotron">
            <h2>Release Notes Home</h2>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="regenerate" role="button">Regenerate Release Note</a><p><a class="btn btn-lg btn-success" href="lookUp" role="button">Look up Release Notes</a></p>
            <p><a class="btn btn-lg btn-success" href="getPdf" role="button">Get Release Note in PDF</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4> Release Notes Policy</h4>
                <p> There will be one release note per project per release</p>
                <p>  However this does not mean that the release note generated will be final, as more and more issues are added to this release, the release note will be revised to include these</p>
 
                <h4>  When do we update Release Notes for a release</h4>
                <p>  Release Notes are generated whenever there is a push to the repo which results in a successful build</p>
 
                <h4>  Pre-requisites for autogeneration of Release Notes</h4>
                <p>  The release notes will not be generated if the last commit message does not match the format JIRA ISSUE ID:comment. Example commit message: "CSIDO-10:New modules added" </p>
                <p>  The release notes will not be generated if the corresponding  JIRA ITEM does not have a valid release tag in the release tag field of JIRA</p>
                <p>  The release notes will not be generated if the ISSUE-ID is already in Done state in JIRA</p>
            </div>
 
            <div class="col-lg-6">
                <h4>  Regenerate Release Notes</h4>
                <p>  If you find that one of your releases did not get a release note, you can have the release notes regenerated by mentioning the project name and release tag</p>
 
                <h4>  Lookup Release Notes</h4>
                <p>  In case if you want to see the release notes generated for a particular project and release tag, you can look it up using this option</p>
 
                <h4>  Get Release Note in PDF</h4>
                <p>  Please enter a valid project name and release tag to download a PDF copy of the generated release notes</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Ericsson North America 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
